@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

a:link,
a:active,
a:visited {
  color: black;
  text-decoration: none;
}

.w80 {
  width: 80%;
}

.w100 {
  width: 100%;
}

.mAuto {
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  align-items: center;
}

.mBottom10 {
  margin-bottom: 20px;
}

.photo {
  height: 100px;
  width: 100px;
}

.anchor_user {
  width: 75%;
}
.user_info {
  height: 80px;
  padding: 10px 25px;
}

.user_bio {
  padding: 1rem;
  margin-bottom: 40px;
}

.w50 {
  width: 50%;
}

.postNum {
  align-self: flex-end;
  font-size: 1.2rem;
}

.post {
  flex-direction: column;
  padding: 1rem;
  margin-top: 10px;
  align-items: flex-start;
}

.commentLike {
  font-size: 0.8rem;
  align-self: flex-end;
}

.button {
  margin-top: 20px;
  display: block;
  padding: 0.8rem;
  width: fit-content;
  box-shadow: 3px 3px;
}

.buttonWrapper {
  justify-content: space-around;
}

.comment {
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 1rem;
}

.click {
  font-weight: bold;
}

.post_header {
  justify-content: space-between;
  margin-bottom: 30px;
}
.border {
  border: 2px black solid;
}

.formWrapper {
  flex-direction: column;
  row-gap: 30px;
  padding: 1rem;
}

.form {
  flex-direction: column;
  row-gap: 30px;
  align-items: flex-start;
  width: 50%;
}
.textArea {
  resize: none;
  height: 200px;
}

.commentArea {
  resize: none;

}