@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.w80 {
  width: 80%;
}

.mAuto {
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  align-items: center;
}
.photo {
  height: 100px;
  width: 100px;
}

.user_info {
  height: 80px;
  width: 70%;
  padding: 10px 25px;
}

.user_bio {
  padding: 1rem;
}

.w50 {
  width: 50%;
}

.postNum {
  align-self: flex-end;
  font-size: 1.2rem;
}

.border {
  border: 2px black solid;
}